<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/wa-logo.png"/>
        <span id="welcomeHeader">WELCOME TO WORLDAUTOMATION.NET</span>
        <span id="welcomeDescription" style="text-align:center;">
		Our mission is to provide a fully submersive modded Minecraft experience including space travel, end game bases, cooperative and PVP gameplay. We achieve this with the use of several modifications, making the mod pack rather heavy to run sometimes for computers with low resources.
		<br />
		If you have issues, see our Discord or website for support.
		</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from WorldAutomation.Net</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>